.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 75px;
}

.background-blue {
  background-color: #1a96db;
}

.row {
  display: flex;
  justify-content: space-around;
  gap: 65px;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.white-text {
  color: #fff;
  font-family: Lato, sans-serif;
}

.background-white {
  background-color: #fff;
  max-width: 10%;
  padding: 20px;
  border-radius: 100px;
}

.icon {
  max-width: 100%;
}

.center {
  text-align: center;
}

.heading {
  margin-bottom: 0;
}

.text {
  margin-top: 8px;
}

.main-heading {
  margin-bottom: 35px;
}

.gray-text {
  color: #d6dadd;
  font-family: Lato, sans-serif;
  font-size: 0.9em;
}
