.menu-items {
  height: 92vh;
  max-height: 100vh;
  width: 20rem;
  border: solid black 1px;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  border-radius: 0 2rem 2rem 0;
  transform: translateX(0);
  transition: transform 0.25s ease-in-out;
}

a {
  margin: 1rem;
  margin-left: 1.25rem;
  color: black;
}

a :hover {
  color: white;
}

.menu-items-closed {
  transform: translateX(-21rem);
}
