.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.column-half {
  display: flex;
  flex-basis: 0.5;

  /* gap: 10% */
}

.icon {
  height: 100%;
}

.icon-container {
  max-height: 50%;
}

.description {
  max-width: 75%;
}
