#wrapper {
  border-radius: 100px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
}

#switch {
  background-color: white;
  border-radius: 100px;
}

.default#wrapper {
  width: 2rem;
  height: 1rem;
}

.default#switch {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.1rem;
}

.green#wrapper {
  background-color: green;
  justify-content: flex-end;
}

.red#wrapper {
  background-color: red;
}
